@tailwind base;
@tailwind components;
@tailwind utilities;

.group[data-pressed=true] { user-select:none }
#swi:active { width: 1.5rem }
#spa { border:0;clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;
padding:0;position:absolute;width:1px;white-space:nowrap }

.ort { color: #222 }

#gre { padding: .75rem !important;  top: 2rem; right: 2rem; background-color: #04AE56;
font-size: 18px; border-radius: 4px }

.mwu { min-width: unset }
.dark-mode { background-color: black; color: white }

.footer { border-top: none; padding: 0 32px 90px !important }

.footer nav { --page-width: 1080px; max-width: var(--page-width); margin: 0 auto; display: flex;
flex-wrap: nowrap; justify-content: space-between; flex-direction: column }

.statusRow { display: flex; align-items: center; justify-content: space-between; margin-top: 32px;
  min-height: 34px;
}

.root { display: flex; box-shadow: var(--ds-shadow-border); border-radius: 9999px; height: 32px;
  width: fit-content;
  padding: 0;
  border: 0;
  margin: 0;

  input { appearance: none; padding: 0; margin: 0; outline: none;
    position: absolute;

    &:checked ~ label { box-shadow: 0 0 0 1px var(--ds-gray-400);
      color: var(--ds-gray-1000);
      background: var(--ds-background-100);

      svg { color: var(--accents-8) !important }
    }

    &:focus-visible + label { box-shadow: var(--ds-focus-ring);
      color: var(--ds-gray-1000);

      svg {
        color: var(--accents-8) !important;
      }
  } }

  label { border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 32px;
    width: 32px;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: background 100ms ease;
    color: var(--ds-gray-700);

    &:hover {
      color: var(--ds-gray-1000) !important;
    }

    svg {
      width: 16px;
      height: 16px;
      position: relative;
      z-index: 1;
      transition: color 100ms ease;
    }
  } &[data-small=''] { height: 24px;
    label {
      height: 24px; width: 24px }

    svg {
      /* weird svg misalignment fix */
      -webkit-transform: translate(-0.5px, -0.5px); transform: translate(-0.5px, -0.5px)
    }
} }

.tailwind { margin-left: auto }

div label { width: 24px }

.switch-toggle { float: right; background: black; height: 24px; display: flex;
  box-shadow: var(--ds-shadow-border);
  border-radius: 9999px;
  width: -moz-fit-content;
  width: 72px;
  border: 0;
  margin-right: 90px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#star { animation: spin 2s linear }

/* Chrome, Safari, Opera */
@-webkit-keyframes exampl { from { top:-100px; opacity: 0 } to { top:0px; opacity:1 } }
@-webkit-keyframes wid { from { width:200px; x:50px } to { width:1px; x:249px } }

/* Standard */
@keyframes exampl { from { top:-100px; opacity: 0 } to { top:0px; opacity:1 } }
@keyframes wid { from { width:200px; x:50px } to { width:1px; x:249px } }

.bun .modal-content { margin: auto; background-color: #f3f3f3; position: relative; padding: 0;
  outline: 0; border: 1px #777 solid; text-align: justify; width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: exampl; /* Chrome, Safari, Opera */ -webkit-animation-duration: .5s;
animation-name: exampl; animation-duration: .5s }

#wid { -webkit-animation-name: wid; -webkit-animation-duration: .7s;
animation-name: wid; animation-duration: .7s }

.w90:hover { width: 150%; align-self:auto; z-index:100; flex-direction: unset }
.h10:has(.w90:hover) { overflow: unset !important }/* new approach */
.br2 { border-radius: var(--r2) }
#fg1 { justify-content: center; flex-grow: 1; box-shadow: none; text-align: center }
.bdf { backdrop-filter: unset }
.w50 { right: 0 }
.bgy { background-color: orange; color: white }
div.pr0 { padding-right: 0 !important }
.w2 { width: 12vw !important }
.cut-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; --wi: 1vw;
padding-left: var(--wi); padding-right: var(--wi) }

.par { padding: 0 1.5em } 
.pl7 { padding-left: 7% !important }
.w15 { width: 150px }
#h40 { height: 40vw; overflow: auto }
#bl0 { border-left: 0 }
.bun { background-color: unset }
#inp { height: 4vw }
#fon { bottom: 1%; left: 2vw; font-size: 1.5vw; margin-bottom: 0 }
.h17 { height: 176px }
#bo7 { --w: -1.8vw; margin: var(--w) 0 0 var(--w); border-radius: calc(var(--nextui-radius-large)* 7) }

#bo5 { border-radius: calc(var(--nextui-radius-large)* 5) }
#bor { border-radius: calc(var(--nextui-radius-large)* 4) }

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar { display: none }

/* Hide scrollbar for IE, Edge and Firefox */
.example { overflow: auto; -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none } /* Firefox */

.alc { align-self: center }
#cbt { border-radius: calc(var(--nextui-radius-medium) / 3); padding-right: .4rem !important;
padding-left: .4rem !important; margin-right: calc(var(--nextui-radius-large) / 2) }

.grb { background-color: var(--bgr) }
#cfo { border-bottom-right-radius: var(--nextui-radius-large);
border-top-left-radius: var(--nextui-radius-large) }

#mb0 { margin-bottom: 0 }
.pl0, div.pl0 { padding-left: 0 !important }
#scrw { justify-content: flex-start }
#lst { background-color: unset !important; list-style-type: none; border-radius: 5px }
#crd { width: 25vw }
#w8v { width: 8vw }
.cnr { margin-bottom: calc(var(--bs-gutter-x)* .5); margin-top: calc(var(--bs-gutter-x) * .5); 
margin-left: calc(var(--bs-gutter-x) * 4) !important; padding-top: calc(var(--bs-gutter-x) * 2) }

#lis { background-color: var(--lis) }

#addc { zoom: 2; margin-left: 1vw; padding-left: calc(var(--bs-gutter-x) / 4) !important;
border-radius: 2px; padding-right: calc(var(--bs-gutter-x) / 4) !important  }

div.w90 { width: 90%; height: 70% !important }
#alsc { align-self: center; margin-bottom: var(--r2) }
#sdel { color:red; stroke-width:0.5 }
.navbar {  margin-right: 2vw; align-self: end; width: 20vw }
.fon { width: fit-content !important }
div.wh { width: 150px; height: 176px !important }
.p5 { padding-right: 5% }
.fd { flex-direction: column; justify-content: center }

div.h10 { height: 100% !important }

.modalp { padding-top: 100px; /* Location of the box */
  background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ }

#imodal-content { background-color: #fefefe; margin: auto; padding: 0; border: 1px solid #888;
width: 51% }

.close { padding-top: .5%; color: #aaa; float: right; font-size: 28px; font-weight: bold;
padding-right: 1.5%; width: fit-content; right: 0; position: absolute }

.close:hover, .close:focus { color: #000; text-decoration: none; cursor: pointer }

.c2w { width: 75% !important }
div.df, .df { display: flex }
/* .bl { border-left: 1px solid rgb(221, 221, 221) } */
#adb { border-radius: 4px; padding-left: 7px !important; padding-right: 7px !important }
.top { border-right: 1px solid var(--e) }
.cb { color: unset; background-color: var(--cb) }
.h21 { height: 250px }
.sp { justify-content: space-evenly }
.w3 { width: 15vw !important }
:root { scroll-behavior: unset !important }

html { --mode: light }

@media (prefers-color-scheme: light) { body { --cb: #f0f0f0; --lis: #F7F7F7; --e: #eee;
  --w: #FFF; --foreground-rgb: 0, 0, 0; --bgr: #04ae5620; color-scheme: --mode }
.grb, #swi { color: var(--w) } span:has(+#swi) { background-color: var(--bgr) } }

@media (prefers-color-scheme: dark) { :root { color-scheme: dark }
  html { --lis: #111; --e: var(--lis); --cb: #0f0f0f; --foreground-rgb: #fff;
  --bgr: #04ae56; --nextui-box-shadow-medium: 0px 0px 15px 0px var(--lis), 0px 2px 30px 0px
  rgba(0, 0, 0, .08), 0px 0px 1px 0px rgba(0, 0, 0, .3)  }

  :root, .h10, .w90, .w15, #swi, #fbk, .wh { background-color: black }
  #del, #btnr, .foo, #imodal-content  { background-color: unset } .whi { color: initial }
  :root { color: var(--foreground-rgb) } .w15, #btnr, .grb, .h10 { color: unset }
  span:has(+#swi) { background-color: var(--foreground-rgb) }
.whi { background-color: var(--lis) } }

html body { font-family: 'Recoleta Medium'; background-color: unset;
  --ds-shadow-border: 0 0 0 1px hsla(0, 0%, 100%, .145); --ds-gray-400-value: 0, 0%, 18%;
  --ds-gray-400: hsla(var(--ds-gray-400-value), 1); --ds-gray-1000-value: 0, 0%, 93%;
  --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1); --ds-background-100: #0a0a0a;
  --ds-gray-700-value: 0, 0%, 56%; --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
--r2: calc(var(--nextui-radius-large) / 2); color: rgb(var(--foreground-rgb)) }

@media (prefers-reduced-motion: no-preference) { :root { scroll-behavior: unset } }

@layer utilities { .text-balance { text-wrap: balance } }