@tailwind base; @tailwind components; @tailwind utilities;

.group[data-pressed=true] { user-select:none }
#swi:active { width: 1.5rem }

#spa { border:0;clip:rect(0 0 0 0); clip-path:inset(50%); height:1px; margin:-1px; overflow:hidden;
padding:0; position:absolute; width:1px; white-space:nowrap }

.ort { color: #222 }

#gre { padding: .75rem !important;  top: 2rem; right: 2rem; background-color: var(--log); color:#000;
font-size: 18px; border-radius: 4px }

.mwu { min-width: unset }
.dark-mode { background-color: black; color: white }

.footer { border-top: none; padding: 0 32px 90px !important }

.footer nav { --page-width: 1080px; max-width: var(--page-width); margin: 0 auto; display: flex;
flex-wrap: nowrap; justify-content: space-between; flex-direction: column }

.statusRow { display: flex; align-items: center; justify-content: space-between; margin-top: 32px;
min-height: 34px }

.root { display: flex; box-shadow: 0 0 0 1px var(--ds-shadow-border); border-radius: 9999px;
height: 32px;
  width: fit-content;
  padding: 0;
  border: 0;
  margin: 0;

  input { appearance: none; padding: 0; margin: 0; outline: none;
    position: absolute;

    &:checked ~ label { box-shadow: 0 0 0 1px var(--ds-gray-400);
      color: var(--ds-gray-1000);
      background: var(--ds-background-100);

      svg { color: var(--accents-8) !important }
    }

    &:focus-visible + label { box-shadow: var(--ds-focus-ring);
      color: var(--ds-gray-1000);

      svg {
        color: var(--accents-8) !important;
      }
  } }

  label { border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 32px;
    width: 32px;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: background 100ms ease;
    color: var(--ds-gray-700);

    &:hover {
      color: var(--ds-gray-1000) !important;
    }

    svg {
      width: 16px;
      height: 16px;
      position: relative;
      z-index: 1;
      transition: color 100ms ease;
    }
  } &[data-small=''] { height: 24px;
    label {
      height: 24px; width: 24px }

    svg {
      /* weird svg misalignment fix */
      -webkit-transform: translate(-0.5px, -0.5px); transform: translate(-0.5px, -0.5px)
    }
} }

.tailwind { margin-left: auto }
div label { width: 24px }

.switch-toggle { float: right; background: black; height: 24px; display: flex;
  box-shadow: 0 0 0 1px var(--ds-shadow-border); border-radius: 9999px; width: -moz-fit-content;
width: 72px; margin-right: 90px }

.switch-toggle, #bl0, span.bun { border: 0 }
@keyframes spin { 0% { transform: rotate(0deg); } 100% {  transform: rotate(359deg) } }
#star, .spi { animation: spin 2s linear }
/* Chrome, Safari, Opera */
@-webkit-keyframes exampl { from { top:-100px; opacity: 0 } to { top:0px; opacity:1 } }
@-webkit-keyframes wid { from { width:200px; x:50px } to { width:1px; x:249px } }
@keyframes exampl { from { top:-100px; opacity: 0 } to { top:0px; opacity:1 } }/* Standard */
@keyframes wid { from { width:200px; x:50px } to { width:1px; x:249px } }

.bun .modal-content { margin: auto; background-color: #f3f3f3; position: relative; padding: 0;
  outline: 0; border: 1px #777 solid; text-align: justify; width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: exampl; /* Chrome, Safari, Opera */ -webkit-animation-duration: .5s;
animation-name: exampl; animation-duration: .5s }

#wid { -webkit-animation-name: wid; -webkit-animation-duration: .7s; animation-name: wid;
animation-duration: .7s }

.w90:hover { width: 150%; align-self:auto; z-index:100; flex-direction: unset }
.h10:has(.w90:hover) { overflow: unset !important }/* new approach */
.br2 { border-radius: var(--r2) }
#fg1 { justify-content: center; flex-grow: 1; box-shadow: none; text-align: center }
.bdf { backdrop-filter: unset }
.w50 { right: 0 }
.bgy { background-color: orange; color: white }
div.pr0, .bun { padding-right: 0 !important }
.w2 { width: 12vw !important }
.cut-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; --wi: 1vw;
padding-left: var(--wi); padding-right: var(--wi) }

.par { padding: 0 1.5em } 
.pl7 { padding-left: 7% !important }
.w15 { width: 150px }
#h40 { height: 40vw; overflow: auto }
#inp { height: 4vw }
#fon { bottom: 1%; left: 2vw; font-size: 1.5vw; margin-bottom: 0 }
.h17 { height: 176px }
#bo7 { --w: -1.8vw; margin: var(--w) 0 0 var(--w); border-radius: calc(var(--nextui-radius-large)* 7) }
#bo5 { border-radius: calc(var(--nextui-radius-large)* 5) }
#bor { border-radius: calc(var(--nextui-radius-large)* 4) }

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar, .bYKxqt { display: none }

/* Hide scrollbar for IE, Edge and Firefox */
.example { overflow: auto; -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none } /* Firefox */

.alc { align-self: center }
#cbt { border-radius: calc(var(--nextui-radius-medium) / 3); padding-right: .4rem !important;
padding-left: .4rem !important; margin-right: calc(var(--nextui-radius-large) / 2) }

.grb { background-color: var(--bgr); color: #000 }
#cfo { border-bottom-right-radius: var(--nextui-radius-large);
border-top-left-radius: var(--nextui-radius-large) }

#mb0 { margin-bottom: 0 }
.pl0, div.pl0 { padding-left: 0 !important }
#scrw { justify-content: flex-start }

html body, #lst, span.bun, #bl0, #bor, #del, .foo, #riq, #bcu, #dec
{ background-color: unset !important }

#lst { list-style-type: none; border-radius: 5px }
#crd { width: 25vw }
#w8v { width: 8vw }
.cnr { margin-bottom: calc(var(--bs-gutter-x)* .5); margin-top: calc(var(--bs-gutter-x) * .5); 
margin-left: calc(var(--bs-gutter-x) * 4) !important; padding-top: calc(var(--bs-gutter-x) * 2) }

#addc { zoom: 2; margin: auto 0 auto 1vw; padding-left: calc(var(--bs-gutter-x) / 4) !important;
border-radius: 2px; padding-right: calc(var(--bs-gutter-x) / 4) !important  }

div.w90 { width: 90%; height: 70% !important }
#alsc { align-self: center; margin-bottom: var(--r2) }
#sdel { color:red; stroke-width:0.5 }
.navbar {  margin-right: 2vw; align-self: end; width: 20vw }
.fon { width: fit-content !important }
div.wh { width: 150px; height: 176px !important }
.p5 { padding-right: 5% }
.fd { flex-direction: column; justify-content: center }

div.h10 { height: 100% !important }

.modalp { background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ }

#imodal-content { background-color: var(--bg); margin: auto; padding: 0; border: 1px solid #888;
width: 53% }

.modal-content { height: 41vw }

.close { color: #aaa; float: right; font-size: 28px; font-weight: bold; width: fit-content;
right: 0; position: absolute }

/* padding-top: .5%; padding-right: 1.5%;  */
.close:hover, .close:focus { color: red; text-decoration: none; cursor: pointer }
.c2w { width: 75% !important }
div.df, .df { display: flex }
#adb { border-radius: 4px; padding-left: 7px !important; padding-right: 7px !important }
.top { border-right: 1px solid var(--e) }
.cb, .bun { color: unset }
.cb { background-color: var(--cb) }
.h21 { height: 250px }
.sp { justify-content: space-evenly }
.w3 { width: 15vw !important }
span:has(#swi) { background-color: var(--foreground-rgb) }
#lis, .whi { background-color: var(--lis) }
#inp { border-radius: var(--bs-border-radius); border: 1px solid var(--foreground-rgb) }
#inp:has(>input:focus) { border: 1px solid var(--bgr); box-shadow: 0 0 0 .25rem #04ae5630 }
.m1 { background-color: var(--tbl) }
input.form-control:focus { box-shadow: unset }
.h10, .w90, .w15, #swi, #fbk, .wh, #addc, #btnr, #star { background-color: var(--bg) }
.du { display: unset }

.group[data-selected=true] .group-data-\[selected\=true\]\:bg-success {
background-color: hsl(var(--nextui-success)/var(--nextui-success-opacity, 1)) !important }

.bYKxqt { position: absolute; width: max-content; z-index: 4;
  visibility: visible;
  pointer-events: auto }

.huXTum { border-style: none; background: transparent;
  display: flex;
  height: 30px;
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  outline: unset;
  cursor: pointer }
.huXTum, #dec, #riq, #bcu { padding: 0 !important }
#svg-158090405_915_mask0_17717_9374 {mask-type:luminance}

#svg-templates { position: absolute; overflow: hidden; bottom: 0; left: 0; width: 0; height: 0;
  z-index: 0; contain: strict
}

.framer-drq6ak { image-rendering: pixelated; flex-shrink: 0; fill: rgb(0, 0, 0);
  color: rgb(0, 0, 0); opacity: 1 }

.svgContainer { width: 100%; height: 100%; aspect-ratio: inherit }
#ret { width: 100%; height: 100% }
.svgContainer svg { display: block }
#Capa_1:hover { fill: #04ae56 }
#Meta:hover { fill: blue }
#Shopify:hover { &>#ful { fill: #95BF47 } &>#rig { fill: #5E8E3E } }
#img, #bol { border-bottom-left-radius: 0 }
#img, .tol, .tl0 { border-top-left-radius: 0 }
.tol, .rr0, .br0 { border-bottom-right-radius: 0 }
.tol, .rr0, .tr0 { border-top-right-radius: 0 }
.tol, .ble { border-bottom-left-radius: var(--nextui-radius-large) }
.tol, .hre { height: revert-layer }
#img { border-top-right-radius: var(--nextui-radius-large) }
#img, .brr { border-bottom-right-radius: var(--nextui-radius-large) }
.br5 { border-radius: 5px }

:root { background-color: var(--bg); color: var(--foreground-rgb); --cb: #f0f0f0;
scroll-behavior: unset !important }

html { --lis: #f7f7f7; --bg: #fff; --foreground-rgb: #000; --bgr: #04ae5620;
  --ds-shadow-border: rgba(0, 0, 0, .08); --ds-background-100: #fff;
  --ds-gray-400-value: 0, 0%, 92%; --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
--ds-gray-1000-value: 0, 0%, 9%; --log: #04ae56; --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1) }

::placeholder, #bl0 { color: var(--foreground-rgb) !important; opacity: 1 /* Firefox */}
::-ms-input-placeholder { /* Edge 12-18 */ color: var(--foreground-rgb) !important }

::-moz-selection { /* Code for Firefox */ color: var(--bg); background: var(--log) }
::selection { color: var(--bg); background: var(--log) }

html body { font-family: 'Recoleta Medium'; --ds-gray-700-value: 0, 0%, 56%;
 --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
--r2: calc(var(--nextui-radius-large) / 2); color: rgb(var(--foreground-rgb)) }

/* @media (prefers-color-scheme: light) { body { --e: #eee; --w: #FFF }
.grb, #swi { color: var(--w) } span:has(+#swi) { background-color: var(--bgr) } } */

.dark { --bg: black; --foreground-rgb: #fff; --lis: #111; --cb: #0f0f0f; --bgr: var(--log);
  --nextui-box-shadow-medium: 0px 0px 15px 0px var(--lis), 0px 2px 30px 0px
  rgba(0, 0, 0, .08), 0px 0px 1px 0px rgba(0, 0, 0, .3); scrollbar-color: #424242 #000;

  --ds-shadow-border: hsla(0, 0%, 100%, .145); --ds-background-100: #0a0a0a;
  --ds-gray-400-value: 0, 0%, 18%; --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
  --ds-gray-1000-value: 0, 0%, 93%; --tbl: #000000a0;
--ds-gray-1000: hsla(var(--ds-gray-1000-value), 1) }

/* @media (prefers-color-scheme: dark) { html { --e: var(--lis)  }
  .w15, #btnr, .h10, #fbk { color: unset }
  span:has(#swi) { background-color: var(--foreground-rgb) } */

@layer utilities { .text-balance { text-wrap: balance } }