@tailwind base;
@tailwind components;
@tailwind utilities;

.wh { width: 150px; height: 176px !important }
.p5 { padding-right: 5% }
.fd { flex-direction: column; justify-content: center }

div.h10 { height: 100% !important }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.imodal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* .rw { width: calc(var(--cw)*3) } */
.c2w { width: 75% !important }
.df { display: flex }
.bl { border-left: 1px solid rgb(221, 221, 221) }
#adb { border-radius: 4px; padding-left: 7px !important; padding-right: 7px !important }
.top { border-right: 1px solid #eee }
.cb { background-color: #f0f0f0 }
.h21 { height: 212px }
.sp { justify-content: space-evenly }
.w3 { width: 15vw !important }

:root { --cw: 15vw;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom, transparent,
      rgb(var(--background-end-rgb)) )
    rgb(var(--background-start-rgb)) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
